:root {
  --roomatee-theme-color: #4CAF50;
}

/* https://stackoverflow.com/questions/43547191/bootstrap-collapse-div-content-disappears */
.collapse.show {
  visibility: visible;
}

.cursor-pointer {
  cursor: pointer;
}

.custom-autocomplete input {
  height: 100px; /* Adjust the height to your preference */
}

.submit-button {
	margin-top: 30px;
	margin: auto;
	font-weight: bold;
	font-size: 18px;
}