.account-verification-container {
    padding: 25px;
    background-color: white;
}

.select-document-label {
    font-weight: bold;
    text-align: left;
    padding-top:20px;
}

.picture-upload-row {
    padding-top: 20px;
}

.picture-id {
    width: 200px;
    height: 170px;
}

.upload-picture-section {
    display: flex;
    align-items: center;
}

.input-and-upload-container {
    padding-top: 20px;
}
