.primary-search-bar {
    padding-top:20px;
    width: 100%;
    margin: auto;
    /* padding-top: 30vh; */
} 


.highlight-required-fields {
    border: 2px solid red;
}

.no-right-border {
    border-right: none !important;
    padding-left: 3px;
  }

@media screen and (max-width: 767px) {
    .primary-search-bar {
        padding-top:20px;
        width: 90%;
        margin: auto;
        /* padding-top: 30vh; */
    } 
}