.chat-selection-row {
  display: flex;
  height: 70px;
  align-items: center;
  padding-left: 20px;
}

.chat-selection-row-full-name {
  padding-left: 10px;
  padding-top: 0px;
  font-weight: 600;
}

.chat-selection-current-user-full-name {
  padding-left: 10px;
  padding-top: 7px;
  font-weight: 600;
}

.active-selection-class {
  background-color: rgba(240, 243, 246, 255);
}

.row-container:hover {
  background-color: rgba(240, 243, 246, 255);
  cursor: pointer;
}

.row-container hr {
  margin: 0;
  color: aqua;
}

