.home-container{
    overflow: hidden;
}

.searchForm {
    display: flex;
    align-items: center;
    }
    
.icon-prop {
    background-color: white;
    border: none;
}

.container-width {
    width: 75%;
}

/* Define the keyframes for the slide-in animation */
@keyframes slideIn {
    to {
        opacity: 1; /* Fade in during the animation */
        transform: translateX(0); /* Move the element to its final position */
    }
}

