.policy-not-satisfied {
    color: red;
    font-weight: bold;
    font-style: italic;
}

.policy-satisfied {
    color: green;
    font-weight: bold;
    font-style: italic;
}

.password-policy-general {
    margin: 6px;
}